extends layout

block content
    h1 #{title}
    form(method='POST' action='/admin/users/add')
      #form-group
      label #{user_name}:
      input.form-control(type='text', name='user_name')
      #form-group
      label #{nick_name}:
      input.form-control(type='text', name='nick_name')
      #form-group
      label #{password}:
      input.form-control(type='text', name='password')
      #form-group
      button.btn.btn-primary(type='submit',value='Submit') Enviar
      
