extends layout

block content
  h1 #{title}
  ul.list-group
  each house, i in houses
    li.list-group-item
      a(href="/admin/houses/"+house._id)=house.name
  hr
  a.btn.btn-default(href='/admin/houses/add') Adicionar
