extends layout

block content
  h1 #{title}
  if blocos.length > 0
    ul.list-group
      each blocos, i in blocos
        li.list-group-item
          a(href="/admin/carnaval/"+event._id)=blocos.nameParty
  else
    span #{empty_list}
    
  hr
  a.btn.btn-default(href='/admin/carnaval/add') Adicionar
